{% extends 'accounts/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header text-center">
                    <h2>Welcome to Your Dashboard, {{ user.username }}!</h2>
                </div>
                <div class="card-body">
                    <p class="lead">This is a protected area. You can only see this if you are logged in.</p>
                    <hr>
                    <p>You are logged in as <strong>{{ user.username }}</strong> ({{ user.email }}).</p>
                    <p>From here, you will eventually manage your videos, settings, and more for your YouTube Clone.</p>
                    <a href="{% url 'user_logout' %}" class="btn btn-danger mt-3">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}